<div class="container home-article {{if isset .Params "image" }}home-article-background-image{{end}}" {{if isset .Params "image" }}style="background-image: url({{ .Site.BaseURL }}images/{{ .Params.image }});"{{end}}>
<article >
        <div class="row">
            <header class="article-header">
                <div class="capitalize-first-letter">{{.Section}}</div>
                <h1 class="page_title entry-title">
                    <a href="{{ .Permalink }}" class="transition" rel="bookmark" title="{{ .Title }}"> {{ .Title }}</a>
                </h1>
            </header>
        </div>

        <div class="article-content row">
            {{if isset .Params "previewimage" }}
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 home-article-image">
                    <img src="{{ .Site.BaseURL }}images/{{.Params.previewimage}}"
                    alt="{{ .Title }}"
                    class="img-fluid"
                    width="300"
                    height="300">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 home-article-excerpt">
                    <p>{{if isset .Params "summary"}}{{.Params.summary}}{{else}}{{.Summary}}{{end}} <a href="{{ .RelPermalink }}">Read More…</a></p>
                </div>
            {{ else }}
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p>{{if isset .Params "summary"}}{{.Params.summary}}{{else}}{{.Summary}}{{end}} <a href="{{ .RelPermalink }}">Read More…</a></p>
                </div>
            {{ end }}
        </div>

        <div class="row">
            <footer class="home-article-footer">
                {{ partial "home/post-meta.html" . }}
            </footer>
        </div>
</article>
</div>
