<div class="col-12" >
	<div class="home-article" style="background-image: url({{ .Site.BaseURL }}images/{{.Params.image}});">
		<article>
			<div class="d-flex justify-content-start">
				<div>
					<a href="{{ .Permalink }}">

						<img src="{{ .Site.BaseURL }}images/{{.Params.image}}" alt="{{ .Title }}" class="img-fluid" width="300" height="300">
					</a>
				</div>
				<div class="col">
					<h3>
						<a href="{{ .Permalink }}">
							{{ .Title }}
						</a>
					</h3>
					{{if isset .Params "genre" }}
					<span class="small lower-opacity">
						{{ range $index, $genre := .Params.genre }}
						{{ if gt $index 0 }}<br/> {{ end }}
						<i class="fa fa-tag"></i>
						<a href="{{ "/genre/" | relURL }}{{ . | urlize }}">{{ . }}</a>
						{{ end }}
					</span>
					{{end}}

				</div>
				<footer class="small lower-opacity">
					<time class="post-list" datetime="{{ dateFormat "2006-01-02" .Date }}" itemprop="datePublished">Published on {{ .Date.Format "2006-01-02" }}</time>
				</footer>
			</div>
		</article>
	</div>
</div>
