ErrorDocument 500 404.html

RewriteEngine on
RewriteCond %{REQUEST_URI} ^\/2017\/08\/04\/fvneral\-fvkk\/$
RewriteRule ^.*$ interviews/2017/fvneral-fvkk/ [R=301,L]

RewriteRule ^([0-9]{4})/[0-9]{2}/[0-9]{2}/(.+)/$ reviews/$1/$2 [R=301,L]
