<link rel="apple-touch-icon" href="{{ .Site.BaseURL }}images/assets/apple-touch-icon.png">
<link rel="icon" href="{{ .Site.BaseURL }}images/assets/favicon.png">
{{"<!--[if IE] >"  | safeHTML }}
{{"	<link rel=\"shortcut icon\" href=\""| safeHTML }}{{ .Site.BaseURL }}{{"favicon.ico\">"  | safeHTML }}
{{"<![endif]-->"  | safeHTML }}
<meta name="msapplication-TileColor" content="#222">
<meta name="msapplication-TileImage" content="{{ .Site.BaseURL }}images/assets/tile-large.png">
<meta name="msapplication-config" content="{{ .Site.BaseURL }}ieconfig.xml" />
<meta name="theme-color" content="#222">
