<nav class="navbar navbar-nav navbar-expand d-flex justify-content-between" >
	<ul class="navbar-nav">
		{{ $currentPage := . }}
		{{ range .Site.Menus.head -}}
		<li class="nav-item">
			<a class="nav-link" href="{{.URL}}"> {{ .Name }} </a>
		</li>
		{{- end }}
	</ul>
	<ul class="nav navbar-nav">
		<li>
			<ul class="nav ">
				{{ range .Site.Menus.social -}}
				<li class="nav-item">
					<a class="nav-link" target="_blank" href="{{ .URL }}">
						<i class="fa fa-{{ .Name }}" title="{{ .Name }}"></i>
					</a>
				</li>
				{{ end }}
			</ul>
		</li>
	</ul>
</nav>
